/* General styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none; /* Prevent resizing */
}

textarea#asunto {
    font-size: 1.2em;
}

/* Position adjustments */
#asunto-container {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

button:hover {
    background-color: #0056b3;
}

button.cancel {
    background-color: #f44336;
}

button.cancel:hover {
    background-color: #d32f2f;
}

/* Adjust grid layout */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

textarea, input {
    width: 100%;
}
