.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.menu-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.menu-image {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 2px solid #00457C;
}

.menu-card h2 {
    color: #00457C;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.menu-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #00457C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #f4b41a;
}


/* Form Container */
.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-container h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

form input, form textarea, form select {
    width: calc(100% - 20px);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

form textarea {
    resize: none;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-send {
    background-color: #007bbb;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.btn-send:hover {
    background-color: #0056b3;
}

.btn-cancel {
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    flex: 1;
    text-align: center;
}

.btn-cancel:hover {
    background-color: #aaa;
}


/* Table Container */
.table-container {
    margin: 50px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-table thead {
    background-color: #00457C;
    color: white;
}

.styled-table thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.styled-table tbody tr:hover {
    background-color: #e0f7fa;
    cursor: pointer;
}

.styled-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.button-approve {
    background-color: #28a745;
    color: white;
}

.button-approve:hover {
    background-color: #218838;
}

.button-reject {
    background-color: #dc3545;
    color: white;
}

.button-reject:hover {
    background-color: #c82333;
}

.button-delete {
    background-color: red;
    color: white;
}
